[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-crispy-forms = "*"
django-rest-framework = "*"
mysqlclient = "*"
pillow = "*"
psycopg2 = "*"
pytz = "*"
whitenoise = "*"

[dev-packages]

[requires]
python_version = "3.10"
